@using PaymentMS.DAL.Enums
@model PaymentMS.UI.Web.ViewModels.Balance.HistoryTableViewModel
@{
    Layout = null;
}

<div class="row">
    <h2 class="col-md-12 text-center">All Payments</h2>
</div>

<br/>

<div class="col-12">
        
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Increase/Decrease</th>
                <th scope="col">Amount</th>
                <th scope="col">Currency</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr>
                <td>
                    @if (payment.PaymentMethod == PaymentMethodType.StripeCardToBalance || payment.PaymentMethod == PaymentMethodType.WireTransferToBalance)
                    {
                        <i class="fa fa-long-arrow-up" style="color: darkcyan" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-long-arrow-down" style="color: firebrick" aria-hidden="true"></i>
                    }
                </td>
                <td>@payment.PaymentAmount</td>
                <td>@payment.PaymentCurrency</td>
                <td>@EnumHelper.GetDescription(payment.PaymentMethod)</td>
                <td>
                    @if (payment.Status == PaymentStatusType.Success)
                    {
                        <i class="fa fa-check-circle" style="color: darkcyan" title="Success" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-window-close" style="color: firebrick" title="Fail" aria-hidden="true"></i>
                    }
                </td>
                <td>@payment.CreatedDate.ToString("g")</td>
            </tr>
        }
        </tbody>
    </table>

        
</div>