<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Currency POC</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="currency-configs" Match="NavLinkMatch.Prefix" style="font-size: 14px;">
                <span class="fa fa-sliders fa-lg" aria-hidden="true"></span>&nbsp;&nbsp; Currency exchange
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="prices">
                <span class="oi oi-list" aria-hidden="true"></span> Prices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="oi oi-signal" aria-hidden="true"></span> Chart
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
